.slider {
  margin: 20px;
  display: flex;
  width: 90vw;
  max-height: 60vh;
  position: relative;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.sliderProduct {
  display: flex;
  width: 100vw;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 1em;
  margin-bottom: 40px
}

.slider img {
  min-width: 100%;
  left: 0;
  object-fit: cover;
  position: sticky;
  scroll-snap-align: start;
}