.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  max-width: 150px;
  width: 35vw;
  max-height: 200px;
  height: 35vh;
  margin: 20px 0;
}

.card:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.cardHeader {
  position: absolute;
}

.cardHeader h2 {
  font-size: 1.1rem;
}

.cardBody {
  text-align: center;
}

.cardBody p {
  font-size: 1rem;
  margin-bottom: 3px;
}

.cardBody ul li {
  margin-bottom: 3px; 
}

.cardImage{
  max-width: inherit;
  max-height: inherit;
}