.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 35vw;
  max-width: 250px;
  max-height: 200px;
  height: 35vh;
  margin: 20px 0;
}

.card:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-5px);
}

.cardHeader {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.cardHeader h2 {
  font-size: 1.5rem;
  margin: auto;
  position: absolute;
}

.cardBody {
  text-align: center;
}

.cardBody p {
  font-size: 1rem;
  margin-bottom: 3px;
}

.cardBody ul li {
  margin-bottom: 3px;
}

.cardImage {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
