.slider-frame{
  width: 100%;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;

  animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul{
  display: flex;
  padding: 0;
  width: 400%;
}

.slider-frame li {
  list-style: none;
  width: 100%;
}

.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 1.25rem;
}