/* Estilos generales para el carrusel */
.carousel {
  position: relative;
  width: 100%;
  margin: auto;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 1.25rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo para los íconos */
  border-radius: 50%;
  padding: 0.5rem;
}
