*{
    padding: 0;
    margin: 0;
    color: white;
    border-radius: 0.5rem;
}

body{
    background-color: beiges;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}