*{
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    scrollbar-width: none;
}

body{
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.flex{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: space-between;
}

.classic{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
}

.form [type='text'],
.form [type='password']
{
    width: 90%;
}

.input{
    display: flex;
    flex-direction: column;
}

button{
    max-width: 15vw;
    margin: 5px 0px;
    
}

ul,ol{
    list-style: none;
}